@media(max-width:1100px){

    .main-content{
    width: 60% !important;
    }

}

@media(max-width:800px){

    .main-content{
    width: 70% !important;
    }

}

@media(max-width:600px){

    .main-content{
    width: 80% !important;
    }

}

@media(max-width:450px){

    .main-content{
    width: 100% !important;
    }

}