<h3> All users </h3>

<ion-searchbar></ion-searchbar>

<div *ngFor="let user of users">

  <ion-item lines="full">
    <ion-avatar slot="start">
      <img alt="user profile image" [src]="user.user_profile.url" />
    </ion-avatar>
    <ion-label>
      <h2 class="fw-bold m-0 text-success" *ngIf="user.username"> {{user.username}} </h2>
      <h3> {{user.first_name}} {{user.last_name}} </h3>
      <p>{{user.email}}</p>
      <p> Joined On : {{ user.createdAt | date:'MMM d, y h:mm a' }} </p>
    </ion-label>
  </ion-item>

</div>